﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <a href="/Dept/CreateDept" style="margin-left:20px; margin-top:20px" class="btn btn-primary">Create New Record </a>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>DeptNo</th>
                    <th>DeptName</th>
                    <th>Location</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var dept in Model)
                {
                    <tr>
                        <td>@dept.DeptNo</td>
                        <td>@dept.DeptName</td>
                        <td>@dept.Location</td>

                        <td><a href="/Dept/UpdateDept/@dept.DeptNo?FName=@dept.DeptName&ECity=@dept.Location" class="btn btn-warning">Update</a></td>
                        <td><a href="/Dept/DeleteDept/@dept.DeptNo" class="btn btn-danger">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>
