﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

    <form action="/Dept/AfterUpdate" method="POST" class="form-inline" role="form">

        <br />
        <br />
        <br />
        <br />
        <br />

        <center>
            <div class="form-group">
                <span>DeptNo</span>
                <input type="text" class="form-control" id="DeptNo" name="DeptNo" value=@Model.DeptNo>

            </div>

            <div class="form-group">
                <span>DeptName</span>
                <input type="text" class="form-control" id="DeptName" name="DeptName" value=@Model.DeptName>

            </div>

            <div class="form-group">
                <span>Location</span>
                <input type="text" class="form-control" id="Location" name="Location" value=@Model.Location>

            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </center>
    </form>

</body>
</html>
