﻿﻿@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignIn</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <form action="/Login/SignIn" method="POST" class="form-inline" role="form">
        <center>
            <br /><br /><br /><br /><br /><br /><br />
            <div class="form-group">
                <label class="sr-only" for="UserName">User Name</label>
                <input type="text"
                       class="form-control"
                       id="UserName"
                       name="UserName"
                       placeholder="Enter UserName" />
            </div>

            <div class="form-group">
                <label class="sr-only" for="Password">Password</label>
                <input type="password"
                       class="form-control"
                       id="Password"
                       name="Password" />
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
            <div class="alert alert-danger text-center">
                @ViewBag.ErrorMessage
            </div>
        </center>
    </form>
</body>
</html>
