﻿@model dynamic
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>error</title>
</head>
<body>
    <div class="alert alert-success">
        <h1>Something is not right here.. Please try Again.</h1>
        <h6>To go Home <a href="/Employee/Index">Click Here</a> </h6>
    </div>
    <div class="alert alert-danger">
        <h5>Technical Details</h5>
        <p> @Model.Exception.Message </p>
        @Model.ToString()
        @*@<p> @Model.Exception.InnerException.StackTrace </p>*@
        @*<p> @Model.Message </p>*@
    </div>

</body>
</html>
