﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @* Latest compiled and minified CSS *@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <a href="/Employee/CreateEmployee" style="margin-left:20px; margin-top:20px" class="btn btn-primary">Create New Record </a>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>EmpNo</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Passocde</th>
                    <th>Salary</th>
                    <th>Commision</th>
                    <th>Designation</th>
                    <th>Hiredate</th>
                    <th>Mobileno</th>
                    <th>DeptNo</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var emp in Model)
                {
                    <tr>
                        <td>@emp.EmpNo</td>
                        <td>@emp.Name</td>
                        <td>@emp.Email</td>
                        <td>@emp.Passcode</td>
                        <td>@emp.Salary</td>
                        <td>@emp.Commission</td>
                        <td>@emp.Designation</td>
                        <td>@emp.Hiredate</td>
                        <td>@emp.Mobileno</td>
                        @* <td>@emp.DeptNo</td>*@
                        <td><a href="/Employee/UpdateEmployee/@emp.EmpNo?FName=@emp.Name&email=@emp.Email&pass=@emp.Passcode&sal=@emp.Salary&com=@emp.Commission&des=@emp.Designation&mob=@emp.Mobileno" class="btn btn-warning">Update</a></td>
                        <td><a href="/Employee/DeleteEmployee/@emp.EmpNo" class="btn btn-danger">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>
