﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListEmployee</title>
</head>
<body>
    <ul>
        @foreach (var item in Model)
        {
            <li> @item.Name </li>
        }
    </ul>
</body>
</html>
