﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    @* Latest compiled and minified CSS *@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

    <form action="/Employee/AfterUpdate" method="POST" class="form-inline" role="form">

        <br />
        <br />
        <br />
        <br />
        <br />

        <center>



            <div class="form-group">
                <span>EnmpNo</span>
                <input type="text" class="form-control" id="EmpNo" name="EmpNo" value=@Model.EmpNo>
            </div>
            <div class="form-group">
                <span>Name</span>
                <input type="text" class="form-control" id="Name" name="Name" value=@Model.Name>
            </div>
            <div class="form-group">
                <span>Email</span>
                <input type="text" class="form-control" id="Email" name="Email" value=@Model.Email>
            </div>

            <div class="form-group">
                <span>Passcode</span>
                <input type="text" class="form-control" id="Passcode" name="Passcode" value=@Model.Passcode>
            </div>
            <div class="form-group">
                <span>Salary</span>
                <input type="text" class="form-control" id="Salary" name="Salary" value=@Model.Salary>
            </div>
            <div class="form-group">
                <span>Commission</span>
                <input type="text" class="form-control" id="Commission" name="Commission" value=@Model.Commission>
            </div>
            <div class="form-group">
                <span>Designation</span>
                <input type="text" class="form-control" id="Designation" name="Designation" value=@Model.Designation>
            </div>
            <div class="form-group">
                <span>Hiredate</span>
                <input type="text" class="form-control" id="Hiredate" name="Hiredate" value=@Model.Hiredate>
            </div>
            <div class="form-group">
                <span>Mobileno</span>
                <input type="text" class="form-control" id="Mobileno" name="Mobileno" value=@Model.Mobileno>
            </div>
            @*<div class="form-group">
                    <span>DeptNo</span>
                    <input type="text" class="form-control" id="DeptNo" name="DeptNo" value=@Model.DeptNo>
                </div>*@

            <button type="submit" class="btn btn-primary">Update</button>
        </center>
    </form>

</body>
</html>
