﻿


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>xyz</title>
</head>
<body>
    <div>
        <h1>
            Hello MVC
        </h1>
        <h2>No</h2>
        <h3>@Model.No</h3>

        <h2>Name</h2>
        <h3>@Model.Name</h3>

        <h2>Address</h2>
        <h3>@Model.Address</h3>

    </div>
</body>
</html>
